@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	.btn-primary {
		@apply;
	}
}

@layer base {
	/* TODO:フォントの調整 */
	@font-face {
		font-family: 'Noto Sans JP';
		src: local('Noto Sans JP'), url('./font/NotoSansJP-Light.ttf');
		font-display: swap;
	}
}
