@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	.btn-primary {
		@apply;
	}
}

@layer base {
	/* TODO:フォントの調整 */
	@font-face {
		font-family: 'Noto Sans JP';
		src: local('Noto Sans JP'), url('./font/NotoSansJP-Light.ttf');
		font-display: swap;
	}
}

/* スクロールバー */
.css-scroll {
	scrollbar-gutter: stable;
}

.css-scroll::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
.css-scroll::-webkit-scrollbar-track {
	background-color: #d9d9d9;
}
.css-scroll::-webkit-scrollbar-thumb {
	background-color: #058005;
}

/* アイコン画像のドラッグを無効にする */
.css-no-drag-icon {
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}
